<article class="listing">

  <h3>{{property.title}}</h3>
  {{debugger}}
  <div class="detail owner">
    <span>Owner:</span> {{property.owner}}
  </div>

  <div class="detail type">
    <span>Type:</span>  {{property.type}}
  </div>

  <div class="detail location">
    <span>Location:</span> {{property.city}}
  </div>

</article>
